/* 
// Table of content
// -----------------------------------------------------------------------------
// - 1. Typography
// - 2. Helpers
*/
/* -----------------------------------------------------------------------------
// 1. TYPOGRAPHY
// ----------------------------------------------------------------------------- */
body {
  font-family: Arial,"微軟正黑體","新細明體"; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit; }

h1, h2 {
  margin: 10px 0 25px 0; }

p, blockquote {
  line-height: 24px; }

blockquote {
  font-style: italic; }

/* main colors */
h1, h2, h3, h4, h5, h6 {
  color: #484747;
  font-weight: 500;
}
h3 {
  color: #ff6600;
  margin-bottom: 15px;
}
h4.title {
  color: #337ad5;
}

p {
  color: #666666;
	font-size:15px;
}

/* links */
a {
  display: inline-block;
  color: #7dbd22;
  /* margin-bottom: 10px; */
  text-decoration: none;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  }
  a:hover {
    text-decoration: underline;
    color: #7dbd22;
  }

ul {
  padding-left: 0;
  list-style: none;
}

mark {
  padding: 3px 5px;
  color: #fff;
  background-color: #7dbd22; }

::selection,
.selected-text {
  background-color: #484747;
  color: #fff; }

.selected-text {
  padding: 5px 2px 2px 2px; }

ol,
ul {
  padding-left: 0;
  list-style-position: inside; }

.list-chevron li,
.list-arrow li,
.list-dotted li,
.list-checked li {
  position: relative;
  /* Create a positioning context */
  color: #484747;
  margin: 0 0 0px 0;
  /* Give each list item a left margin to make room for the numbers */
  padding: 2px 8px 2px 0;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */ }

.list-chevron li:before,
.list-arrow li:before,
.list-checked li:before {
  content: "\e626";
  font-family: "entypo";
  display: inline-block;
  color: #fff;
  margin-right: 8px;
  text-align: center !important;
  height: 15px;
  width: 15px;
  line-height: 16px;
  background-color: #f19149;
  border-radius: 50%; }

.list-arrow li:before {
  content: "\e617";
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  color: #f19149; }

.list-dotted li {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0; }

.list-checked li:before {
  content: "\e67d";
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  color: #7dbd22; }

ol li {
  padding: 4px 8px 4px 0;
  /* margin-bottom: 10px; */
 }

ol.list-roman {
  list-style-type: lower-roman; }

ol.list-loweralpha {
  list-style-type: lower-alpha; }

ol.list-upperalpha {
  list-style-type: upper-alpha; }

.dropdown-menu a {
  color: #337ab7;
  display: block;
  padding: 5px; 
  text-decoration: none;
}
.dropdown-menu a:hover {
  background-color: #eeeeee;
  color: #337ab7;
  text-decoration: none;
}

/* responsive images */
img {
  max-width: 100%;
  height: auto; }

/* -----------------------------------------------------------------------------
// 2. HELPERS
// ----------------------------------------------------------------------------- */
/* grey section */
.section-grey {
  background-color: #f7f7f7; }

/* spacing */
.section-space,
.space-lg {
  padding: 70px 0 20px; }

.space-sm {
  padding: 30px 0; }

.space-top {
  margin-top: 50px; }

.space-bottom {
  margin-bottom: 50px; }

.space-bottom-sm {
  margin-bottom: 20px; }

.space-md {
  margin: 50px 0; }

.space {
  margin: 25px 0; }

.space-heading-md {
  margin-bottom: 30px; }

@media (max-width: 992px) {
  .space-mb {
    margin: 0 0 50px 0; } }
.no-space-top {
  padding-top: 0;
  margin-top: 0; }

.no-space-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.no-space-right {
  padding-right: 0;
  margin-right: 0; }

.no-space {
  padding: 0; }

.no-space-left {
  padding-left: 0; }

/* back to top icon */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #f19149;
  border: 2px solid #fff;
  text-align: center;
  z-index: 200; }

.back-to-top i {
  line-height: 40px;
  color: #fff;
  font-size: 14px; }

.back-to-top:hover {
  cursor: pointer; }

/* animation helpers */
.animation {
  opacity: 0; }

.animation-visible {
  opacity: 1; }

.animated,
.animation {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

/*# sourceMappingURL=base.css.map */
.thumb {
  border-radius: 3px;
  /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);*/
  /* margin-top: 20px; */
  width: 100%;
  overflow: hidden;
  display: flex;
}
  .thumb a {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .thumb:hover .thumb-img {
    overflow: hidden;
    position: relative;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .thumb-img {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    border:2px solid #DDD;
    transition: all 0.2s ease-out;
  }
  .thumb p {
    color: #333;
  }

/* .owl-carousel .item {
  height: 15rem;
} */

.owl-carousel .thumb {
  background-color: #FFFFFF;
  /* margin-top: 20px; */
  border: 1px solid #ddd;
  padding: 4px;
}
.owl-carousel .owl-item img {
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}
.owl-carousel .img-thumbnail {
    padding: 0px;
    border: 0px solid #ddd;
    line-height: 180px;
}
@media screen and (max-width:425px) {
  /* .owl-stage {
    margin-left: 10px;
    margin-right: 10px;
  }
  .owl-item {
    width: calc(100% - 20px);
  } */
}


.app-show-feature .btn.active, .btn:active {
    box-shadow: none;
}
.popover {
    font-family: Arial,"微軟正黑體","新細明體";
}
.app-show-feature a{
  color: #484747;
  text-decoration: none;
}
.app-show-feature a:hover {
  text-decoration: none;
}
.footer-location{
  clear:both;
  padding-top: 15px;
}
.footer-location a{
  padding-top: 15px;
}

.pro-spec h3 {
  color: #0068b7;
  font-size: 38px;
  font-weight: 700;
}
@media screen and (max-width:768px) {
  .pro-spec {
    padding-top: 30px !important;
  }

  .space-lg.no-space-top.home-blog {
    padding-top: 30px !important;
  }

  .pro-spec h3 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .pro-spec h4{
    font-size: 28px !important;
  }
}

.pro-spec h4 {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pro-spec h4.warm {
  color: #8a6d3b;
  font-size: 24px;
}

.pro-spec h5 {
  color: #0068b7;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pro-spec .note {
  color: #333333;
}

.pro-spec ul.qa {
  font-size: 15px;
  list-style-position: inherit;
  list-style-type: disc;
  margin-left: 15px;
  padding-left: 8px;
}

.pro-spec ul.qa li {
  line-height: 24px;
  margin: 0 0 10px;
}
.pro-spec ul.qa li .title {
  font-size: 17px;
  font-weight: bold;
}

.special {
  background-color: cadetblue;
  padding: 20px 0 30px;
}
.pro-spec p.subtxt {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

.pro-spec ul.qa ul {
  list-style-type: circle;
}


.pro-spec ul.specIntro li {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 20px;
}
.pro-spec ul.specIntro li:before {
  font-family: 'Font Awesome 5 Pro';
  content: "\f22d";
  background-color: transparent;
  border-radius: 0;
  font-size: 12px;
  display: block;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  float: left;
  margin-left: -20px;
  padding-top: 2px;
}

.pro-spec ul.specIntro li .specIntroTitle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}

.pro-spec ul.specNote {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 505px;
}

.pro-spec ul.specNote li {
  background-color: #4caf50;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 13px;
  height: 90px;
  margin: 10px 5px;
  padding: 10px 10px;
  text-align: center;
  width: 90px;
}
.pro-spec ul.specNote li i{
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.pic {
  height: auto;
  max-width: 505px;
  margin: 15px auto 0 auto;
  position: relative;
}

.pic .pic_hotspot {
  position: absolute;
  background: #7dbd22;
  opacity: 0.7;
  border-radius: 50% 50%;
  text-align: center;
  height: 22px;
  width: 22px;
  z-index: 1;
}

.pic .pic_hotspot:focus {
  color: #7dbd22;
}
.pic .pic_hotspot:hover {
  color: #7dbd22;
  opacity: 1;
}

.pic #hotspot1 {
  left: 47.5%;
  top: 0%;
}

.pic #hotspot2 {
  right: 30%;
  top: 13%;
}

.pic #hotspot3 {
  right: 30%;
  top: 47%;
}

.pic #hotspot4 {
  left: 29%;
  top: 47%;
}

.pic #hotspot5 {
  right: 32%;
  bottom: 30%;
}

.pic #hotspot6 {
  left: 13%;
  top: 2%;
}

.pic #hotspot6a {
  left: 22%;
  top: 27%;
}

.pic #hotspot7 {
  left: 85%;
  bottom: 50%;
}

.pic #hotspot8 {
  right: 26%;
  bottom: 24%;
}

.pic #hotspot9 {
  right: 84%;
  bottom: 78%;
}

.pic #hotspot10 {
  right: 70%;
  bottom: 56%;
}
.pic #hotspot11 {
  right: 14%;
  bottom: 35%;
}

.pic #hotspot12 {
  left: 32%;
  bottom: 36%;
}

.pic #hotspot13 {
  right: 2%;
  bottom: 18%;
}
.clearfix {
  clear: both;
}

h3.popover-title {
  font-size: 16px !important;
}

#introText {
  padding-top: 10px;
}

#introText h5:first-child {
  margin-top: 20px;
}

.intro {
  background-color: #FFFFFF;
  border-radius: 30px !important;
  border: 2px solid #ff6600 !important;
  color: #ff6600 !important;
  font-size: 20px;
  font-weight: 600;
  margin: 10px auto 10px;
  padding: 10px 30px 10px !important;
  text-decoration: none;
}
.intro:hover {
  background-color: #ff6600;
  border: 2px solid #ff6600 !important;
  color: #FFFFFF !important;
  font-weight: 400;
  text-decoration: none;
}
.intro:focus {
  background-color: #ff6600;
  border: 2px solid #ff6600 !important;
  color: #FFFFFF !important;
  font-weight: 400;
  text-decoration: none;
}

.sale {
  border-radius: 30px !important;
  border: 2px solid #4cae4c !important;
  color: #4cae4c !important;
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
  padding: 10px 30px !important;
}
.sale:hover {
  background-color: #4cae4c;
  border: 2px solid #4cae4c !important;
  color: #FFFFFF !important;
  font-weight: 400;
}

.blue {
  color: #337ab7;
}

.owl-carousel.owl-loaded {
  padding-left: 15px;
  padding-right: 15px;
}

span.step {
  background-color: #FFFFFF;
  display: block;
  font-size: 30px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  width: 35px;
}
.bdl {
  border: 3px solid #FFFFFF;
  border-radius: 6px;
}
.step-text {
  color: #0068b7;
  padding-top: 10px;
  text-align: left;
}